site_name: Serial Terminal app documentation
site_url:
use_directory_urls: false

theme:
  name: material
  palette:
    - scheme: custom-blue
      toggle:
        icon: material/lightbulb-outline
        name: Switch to dark mode
    - scheme: custom-blue-dark
      toggle:
        icon: material/lightbulb
        name: Switch to light mode
   # logo: assets/logo.png
   # favicon: assets/logo.png

  features:
    - content.code.annotate
    - content.tooltips
    - content.tabs.link
    - navigation.indexes
    - navigation.top
    - navigation.tracking
    - search.highlight
    - toc.follow

extra_css:
  - stylesheets/style.css

copyright:
  Copyright &copy; 2023-2026

markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - md_in_html
  - meta
  - pymdownx.details
  - pymdownx.keys
  - pymdownx.tabbed
  - pymdownx.superfences
  - toc:
      permalink: true
      toc_depth: 4

plugins:
  - macros
  - search

extra:
  test: This is a test abbreviation snippet
  NCS: nRF Connect SDK

nav:
  - Get started: index.md
  - Overview and user interface: overview.md
  - Getting started: connecting.md
  - Selecting a serial port: selecting_serial_port.md
  - Configuring logging to the serial port: configuring_serial_port.md
  - Viewing and sending AT commands: viewing_and_sending_at_commands.md
  - Troubleshooting: troubleshooting.md
  - Revision history: revision_history.md
